<app-header></app-header>

<main>
  <!-- Banner start -->
  <div class="banner">
    <div class="banner-wrapper">
      <div class="container">
        <h1 class=" font-weight-bold banner-display text-light">
          Reliable <br>
          Logistic service for <br> Your <span class="dyna-text">Import</span>
        </h1>

        <div>
          <div class="box ">
            <app-banner-card *ngFor="let card of cardProps" [bannerProp]="card"></app-banner-card>


          </div>

          <p class="banner-caption my-2 text-light text-center">
            No matter the method you choose,
            Be rest assured we will deliver
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner end -->

  <!-- Gobal Edge start -->
  <div class="global">
    <div class="container">

      <div class="global-title text-center">
        <div class="line-top"></div>
        <h5 class="heading text-primary">OUR GLOBAL EDGE</h5>
      </div>

      <div class="section-flex">
        <div class="item">
          <img src="assets/images/icons/customer-review.svg" alt="">
          <div class="text_content">
            <p class="title text-primary">CUSTOMER SATISFACTION</p>
            <p>Customers has always been our priority, and we are ready to serve you.
              With experience gathered over the years, we are assuring you of the best service.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/icons/group.svg" alt="">
          <div class="text_content">
            <p class="title text-primary">MANAGEMENT AND REPORTING</p>
            <p>We have equipped ourself with the best of management personnel, making sure to give you
              the
              best of satisfaction.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/icons/hand.svg" alt="">
          <div class="text_content">
            <p class="title text-primary">FREIGHT PAYMENT OPTIONS</p>
            <p>Our payment option has been designed to meet the needs of our customers, while still
              giving
              them comfortably.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/icons/clipboard.svg" alt="">
          <div class="text_content">
            <p class="title text-primary">COMPLIANCE SOLUTION</p>
            <p>We have set for ourselves a standard and we are not going back on our words, neither are
              we
              leaving you without
              guideance. As we promised so we will do.</p>
          </div>
        </div>
      </div>


    </div>

    <div class="bottom-bg"></div>

  </div>
  <!-- Gobal Edge ends -->

  <section id="main-section">
    <!-- About start -->
    <div class="about" id="about">
      <div class="container">
        <div class="heading text-primary">About US</div>

        <div class="box-wrapper">
          <div class="text-content">
            <p>The CFF Global Forwarding Limited handles the clearance and delivery of consignment from
              customs and other agencies in
              both the seaports and air terminals.</p>

            <p>Our airfreight administrations incorporate full documentation, traditions customs
              clearance,
              tracking and tracing and
              airport door to door while the ocean cargo administrations we offer are FCL and LCL
              import/fare, import and fare
              traditions freedom, traditions shipping documentation and pressing and crating, among
              others.</p>

            <p>We likewise offer dependable, quick and adaptable way to-entryway conveyance of
              relegations
              even to remote areas over
              the West-African sub-locale.</p>

            <p>The organization’s superb association with pertinent government offices and private
              partners
              like Customs and terminal
              administrators has given us an unparalleled edge to convey the quality administration we
              are
              rumored for.</p>

          </div>
          <div class="image">
            <img src="assets/images/pic-2.png" alt="">
          </div>
        </div>
      </div>
      <div class="bg-1"></div>
    </div>
    <!-- About ends -->
    <!-- services starts -->
    <div class="services" id="services">
      <div class="container">
        <div class="heading">OUR SERVICES</div>
        <div class="box-wrapper">
          <div class="text-content">
            <p class="text-bold text-primary">AIR FREIGHT</p>

            <p>CFF Global Forwarding Limited provides professional and reliable air freight import and
              export services from origins
              around the world. CFF Global Forwarding Limited offers convenient and cost effective
              Airfreight as well as lowest
              transit time.</p>

            <p>Being a Major Player in the Nigerian market for the past 20 Years CFF Global Forwarding
              Limited. has a strong reach with
              a wide range of regional and international Airline Carriers and hence can offer
              aggressive pricing to all key
              destinations.</p>

            <p>We offer a tailor made solution for our clients which include:</p>

            <ul>
              <li>Competitive Rates.</li>
              <li>Faster transit periods.</li>
              <li>Consolidations to Key Destinations.</li>
              <li>Reefer and Temperature Controlled Cargo.</li>
              <li>Cold Chain Logistics.</li>
              <li>Active temperature-controlled containers(Envirotainers).</li>
              <li>Valuable cargo.</li>
            </ul>
            <div class="my-2">
              <button class="btn btn-primary">See More</button>
            </div>
          </div>
          <div class="image">
            <img src="assets/images/pic-3.png" alt="">
          </div>
        </div>

        <div class="box-wrapper">
          <div class="image">
            <img src="assets/images/pic-4.png" alt="">
          </div>
          <div class="text-content text-right">
            <p class="text-bold text-primary">SEA FREIGHT</p>
            <p>CFF Global Forwarding Limited handles shipping to and from all parts of the world. Our
              sea freight import and export
              department handles your shipment and also Break-bulk.</p>

            <p>We offer always competitive lowest sea freight rate for import and export worldwide
              service that is both cost effective
              with assurance of safe and prompt delivery.</p>

            <p>Coverage with most Shipping Lines - To offer to and from all major Seaports worldwide as
              Forwarders. We handle bulk
              breaking for container shipping. We are capable of handling full and consolidated
              shipments - general cargo or
              specialized cargo.</p>

            <p>The goodwill that we have created among all the major Shipping companies over the years
              has helped us stand steadfast
              and offer a niche range of solutions to meet our client’s needs with strict time
              constraints for both export and import
              services in the following areas:- ...</p>

            <div class="d-flex justify-between">
              <span></span>
              <button class="btn btn-primary">See More</button>

            </div>
          </div>

        </div>

        <div class="box-wrapper mt-2">
          <div class="text-content">
            <p class="text-bold text-primary">CARGO EXPRESS</p>
            <p>This service guarantees that cargo enjoys priority retrieval at its destination,
              meaning our customers can bring cargo
              closer to flying time, or stay ahead of the competition.</p>

            <p>Please note that parcels should not exceed specified size limits and that all goods
              are to be packaged “to go” and
              handed in at the Express Counter at Domestic / International Forwarding Sections.
              CFF Global Forwarding Limited operates dedicated freighters on domestic routes that
              cater for overnight express goods.
              Express@CFF Global Forwarding Limited is an express service offered on international
              routes between specific route
              Cargo Express as a product is the fastest way of transporting all your valuable
              cargo in the quickest possible time, We
              let your goods move at optimal speed and efficiency along the supply chain under the
              surveillance of our expert team.</p>

            <p>Professional Drivers
              Due to the fact that our customers needs theirs goods intact, we have selected the
              best of drivers who are ready to ...</p>

            <button class="btn btn-primary mt-2">See More</button>
          </div>

          <div class="image">
            <img src="assets/images/pic-5.png" alt="">
          </div>
        </div>

        <div class="box-wrapper">
          <div class="image">
            <img src="assets/images/pic-6.png" alt="">
          </div>
          <div class="text-content  text-right">
            <p class="text-bold text-primary">WAREHOUSING</p>
            <p>At CFF Global Forwarding Limited, our team of well - trained professionals in cargo
              business is always poised to deliver
              in line with global logistics best practices. All our services are well - tailored to
              satisfy our clients’ request.</p>

            <p>We also view the issue of corporate governance very seriously as we operate and conduct
              business according to the
              country’s regulations and other extant laws. We are equipped with state-of-the-art
              facilities and equipment to enable
              easy and fast Logistics services</p>

            <p>Our Facilities
              Easily accessible throughout the year (i.e. access roads)
              Large enough to facilitate intake, dispatch and permit effective use for supplementary
              ventilation
              Effectively keeps out rodents, birds, insects, and other pests
              Protects from dust and reduces heat of the
              interior
              Overhang at eaves level sufficient to shed rainwater clear of walls</p>

            <div class="d-flex justify-between">
              <span></span>
              <button class="btn btn-primary">See More</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services ends -->
  </section>

  <div class="contact bg-primary" id="contact">
    <div class="container">
      <h5 class="text-center text-bold text-light contact-heading heading">CONTACT US</h5>
      <form>
        <input type="text" placeholder="Name" class="form-control">
        <input type="tel" placeholder="Phone Number" class="form-control">
        <input type="email" placeholder="E-mail" class="form-control">
        <textarea class="form-control" placeholder="Type your message here" id="" cols="30" rows="10"></textarea>
        <div class=" text-center">
          <button class="btn btn-light">Submit</button>
        </div>
      </form>
    </div>
    <div class="contact-bg"></div>

    <div class="contact-footer">
      <div class="contact-footer-inner">
        <div class="contact-footer-wrapper text-light">
          <h6 class="text-center text-light">HEAD OFFICE</h6>

          <div class="contact-footer-wrapper_item text-light">
            <img src="assets/images/icons/location.svg" alt="">
            <p>CFF Global Forwarding Limited <br>
              Ground Floor Left Wing <br>
              Nahco Cargo Complex <br>
              Murtala Mohammed International Airport Ikeja</p>
          </div>

          <div class="contact-footer-wrapper_item">
            <img src="assets/images/icons/old-typical-phone 1.svg" alt="">
            <p>+234 7058065252
              / +234 8187009280</p>
          </div>
          <div class="contact-footer-wrapper_item">
            <img src="assets/images/icons/mail 1.svg" alt="">
            <p>info@cffglobalforwarding.com</p>
          </div>

        </div>
      </div>

      <hr>

      <p class=" d-flex justify-content-center text-light">
        &copy; CFF Global Forwarding
      </p>


    </div>

  </div>

</main>
