@import "/src/styles/index";
.box-item {
  background-color: $light;
  position: relative;
  cursor: pointer;
  transition: 0.5s background-color ease-in-out;
  text-align: center;
  height: 100%;
  min-height: 20rem;
  // height: 20rem;
  .flaticon-airplane:before,
  .flaticon-vessel:before,
  .flaticon-delivery:before,
  .flaticon-home:before {
    font-size: 3rem;
    color: inherit;
  }

  .box-heading {
    margin: 1rem 0;
    color: $primary;
    font-weight: 600;
    font-size: 1rem;
  }
  &:hover {
    background-color: $primary;
    transition: 0.5s all ease-in-out;
    color: $light;
    .box-heading {
      color: $light;
    }
    transform: translateY(-30px);
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    img {
      width: 100%;
      max-width: 3rem;
      margin: 0 auto;
    }
  }
}
